<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Reference - jThree</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/markdown.css">
  </head>
  <body>
    <div id="app">{{{ markup }}}</div>
    <script id="initial-states" type="text/plain" states-json="{{ initialStates }}"></script>
    <script src="/static/js/bundle.js"></script>
  </body>
</html>
